[submodule "RF24Network"]
	path = RF24Network
	url = https://github.com/maniacbug/RF24Network.git
[submodule "RF24"]
	path = RF24
	url = https://github.com/TMRh20/RF24.git 
[submodule "RF24Mesh"]
	path = RF24Mesh
	url = https://github.com/TMRh20/RF24Mesh
